playerstats {
    position: absolute;
    font-family: Poppins;
    font-weight: 200;
    color: white;
    font-size: 48px;
    width: 100%;
    bottom: 0px;
    align-content: center;
    justify-content: center;

}